<template name="sidebar">
    {{#if isAuthed}}
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-heading"><strong>{{_ 'sidebar.acc.actions'}}</strong></a>
        <a href="{{pathFor 'homeSettings'}}" class="list-group-item">{{_ 'sidebar.settings'}}</a>
        <a href="{{pathFor 'homeTotp'}}" class="list-group-item">{{_ 'sidebar.totp_settings'}}</a>
        <a href="{{pathFor 'serverIndex'}}" class="list-group-item">{{_ 'sidebar.servers'}}</a>
    </div>
    {{/if}}
</template>