<template name="sidebar">
    <div class="col-md-3 hidden-xs hidden-sm" id="sidebar_links">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-heading"><strong>{{_ 'sidebar.acc_actions'}}</strong></a>
            <a href="{{pathFor 'homeAccount'}}" class="list-group-item">{{_ 'sidebar.settings'}}</a>
            <a href="{{pathFor 'homeTotp'}}" class="list-group-item">{{_ 'sidebar.totp_settings'}}</a>
            <a href="{{pathFor 'serversIndex'}}" class="list-group-item">{{_ 'sidebar.servers'}}</a>
        </div>
    </div>
</template>